/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

.date_finished{
	display: inline-block;
	font-size: 16px;
	color: lightgreen;
	float: right;
	margin-top: 20px;
	margin-right: 50px;
	
	font-style: oblique;

}